<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>

<p>

    用户名： <input type="text" id="i1"> <span id="s1"></span>
</p>
<script src="/static/jquery.js"></script>

<script>
    $('#i1').blur(function () {
        var user = $(this).val();
        $.ajax({
            url: '/checkuser/',
            type: 'get',
            data: {'user': user},
            success: function (res) {
                $('#s1').text(res.msg)
            }
        })

    })


</script>


</body>
</html>