<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
    <p>{{ ab(50,60) }}</p>
    {{ stu }}
    <table border="1px">
        <tr>
            <td>name</td>
            <td>age</td>
            <td>gender</td>
        </tr>
        <tr>
            <td>{{ stu.name }}</td>
            <td>{{ stu["age"] }}</td>
            <td>{{ stu.get("gender") }}</td>
        </tr>
    </table>

{{ stu_l }}
    <table border="1px">
        <tr>
            <td>name</td>
            <td>age</td>
            <td>gender</td>
        </tr>
        {% for student in stu_l %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student["age"] }}</td>
            <td>
                {% if  student.get("gender") != "男" and  student.get("gender") != "女" %}
                    女
                {% else %}
                    {{ student.get("gender") }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
{{ stu_d }}
    <table border="1px">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>gender</td>
        </tr>
{#        {% for skey in stu_d %}#}
{#        <tr>#}
{#            <td>{{ skey }}</td>#}
{#            <td>{{ stu_d[skey].get("name") }}</td>#}
{#            <td>{{ stu_d.get(skey).get("age") }}</td>#}
{#            <td>#}
{#                11111#}
{#            </td>#}
{#        </tr>#}
{#        {% endfor %}#}
       {% for skey,svalue in stu_d.items() %}
        <tr>
            <td>{{ skey }}</td>
            <td>{{ svalue.get("name") }}</td>
            <td>{{ svalue.get("age") }}</td>
            <td>
                11111
            </td>
        </tr>
       {% endfor %}
    </table>
</body>
</html>