{% extends 'layout.html' %}


{% block content %}

    {% load my_tags %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">课程记录列表</h3>
        </div>
        <div class="panel-body">

            <div>
                <a href="{% url 'add_course_record' class_id %}" class="btn btn-primary">新增</a>
            </div>

            <form action="" class="form-inline pull-right">
                <input type="text" name="query" class="form-control">
                <button class="btn btn-sm btn-success">搜索</button>
            </form>


            {% csrf_token %}
            {#                <select name="action" id="" class="form-control">#}
            {##}
            {##}
            {#                    {% if request.path_info == '/crm/customer_list/' %}#}
            {#                        <option value="multi_apply">公户转私户</option>#}
            {#                    {% else %}#}
            {#                        <option value="multi_pub">私户转公户</option>#}
            {#                    {% endif %}#}
            {#                    <option value="multi_del">批量删除</option>#}
            {##}
            {#                </select>#}
            {#                <button class="btn btn-sm btn-primary">应用</button>#}

            <table class="table table-bordered table-hover">
                <thead>
                <tr>

                    <th>序号</th>
                    <th>课程名称</th>
                    <th>上课日期</th>
                    <th>课程标题</th>
                    <th>是否有作业</th>
                    <th>本节作业标题</th>
                    <th>讲师</th>
                    <th>记录者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for course_record in all_course_record %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ course_record }}</td>
                        <td>{{ course_record.date }}</td>
                        <td>{{ course_record.course_title }}</td>
                        <td>{{ course_record.has_homework }}</td>
                        <td>{{ course_record.homework_title }}</td>
                        <td>{{ course_record.teacher }}</td>
                        <td>{{ course_record.recorder }}</td>


                        <td><a href="{% reverse_url request 'edit_course_record' course_record.pk %}"
                               class="btn btn-primary btn-sm">编辑</a>
                        </td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>


            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {{ page_html }}

                </ul>
            </nav>

        </div>
    </div>





{% endblock %}